
@using Store.Models;
@using System.Collections.Generic;
@using Store.Helpers;
@model NavigationModel


<script src="~/Scripts/umd/popper.min.js" type="text/javascript"></script>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/PostAction")

<div id="ProductsView">
    <div class="form-horizontal">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h1 style="border-radius: 5px; width:100%; text-align:left; height:55px">@*@Model.ThisCategory:*@</h1>
                </div>
                <div class="col-sm d-flex flex-column">

                    <div class="dropdown text align-self-end p-0" style="width:250px">
                        <label class="" style="font-size:11px; margin-left: 4px">Сортировка:</label>
                        <div class="input-group mb-3">
                            <select class="custom-select" id="inputGroupSelect02">
                                <option selected value="1">По рейтенгу</option>
                                <option value="2">От дешевых к дорогим</option>
                                <option value="3">От дорогих к дешевым</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>


    @using (Html.BeginForm())
    {

        <ul class="products clearfix align-content-center" style="height: auto">
            @if (Model != null)
            {
                foreach (GeneralProductModel pr in Model.Products)
                {
                    <li class="product-wrapper">
                        <div class="product">
                            <a href="@pr.UrlToBuy">
                                <div class="product-photo">

                                    <img src="@pr.PhotoPath" alt="" />
                                </div>
                            </a>
                            <hr>
                            <div style="margin:10px;">
                                <a href="@pr.UrlToBuy"><p style="font-size:13px; text-align:left">@pr.TextUrl</p></a>

                                <div class="row">
                                    <div class="col">
                                        <label style="margin-left:5px; background-color:antiquewhite; border-radius: 3px;">@pr.Price грн.</label>
                                    </div>
                                    <div class="col">
                                        <a href="@pr.UrlToBuy" style="margin-right:10px; margin-top:-5px" class="btn btn-success">Купить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                }

            }
        </ul>
        <div class="pager">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
        </div>

        @*if (Model != null)
        {
                @Html.Partial("_NavPartial", Model.PagingInfo);
        }*@
    }
</div>

<script>

    //function LoadPagination(PagingInfo, url) {
    //    let u = url;
    //    $(function () {
    //        $.ajax({
    //            url: u,
    //            type: "POST",
    //            success: function (msg) {
    //                console.log(u);
    //                let result = JSON.parse(msg);
    //                console.log(result);

    //            }
    //        })
    //    });
    //}
</script>