
@using Store.Models;
@model Store.Models.InfoForPageProductModel



<div class="form-horizontal">
    <h1 style="border-radius: 5px; width:100%; text-align:left; height:55px">@Model.ThisCategory:</h1>
    <span>
        <label style="font-size:11px">Сортировка</label>
        <input class="form-control" style="height: 35px;" />
    </span>
</div>
<hr>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/PostAction")
@*<div class="product-photo">
        <img src="~/Images/shiny.png" alt="">
    </div>*@



@using (Html.BeginForm())
{

    <ul class="products clearfix align-content-center" style="height: auto">
        @if (Model != null)
        {
            foreach (GeneralProductModel gpm in Model.ProductModels)
            {
                <li class="product-wrapper">
                    <div class="product">
                        <a href="@gpm.UrlToBuy">
                            <div class="product-photo">

                                <img src="@gpm.PhotoPath" alt="" />
                            </div>
                        </a>
                        <hr>
                        <div style="margin:10px;">
                            <a href="@gpm.UrlToBuy"><p style="font-size:13px; text-align:left">@gpm.TextUrl</p></a>

                            <div class="row">
                                <div class="col">
                                    <label style="margin-left:5px; background-color:antiquewhite; border-radius: 3px;">@gpm.Price грн.</label>
                                </div>
                                <div class="col">
                                    <a href="@gpm.UrlToBuy" style="margin-right:10px; margin-top:-5px" class="btn btn-success">Купить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            }

        }
    </ul>
    if (Model != null)
    {
        @Html.Partial("_NavPartial", Model);

    }
}
