@model Store.Models.ViewUserModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @if (!User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Войти", "Login", "Account")
        @Html.ActionLink("Регистрация", "Register", "Account")
    }
    else
    {
        @*<a>Привет @Html.DisplayForModel()</a>*@
        <a>Привет  @User.Identity.Name</a>
        @Html.Action("GetUserNameByEmail", "Account")
        @Html.ActionLink("Выход", "Logout", "Account")
    }

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
